

interfaces {
  ge-0/0/0 {
      vlan-tagging;
      unit 0 {
          vlan-id 1;
          description "Parent port";
          family inet {
              address {{ parent_ip }};
          }
      }
{% for ip in ips %}
      unit {{ loop.index }} {
          description "Sub port";
          vlan-id {{ loop.index+1 }};
          family inet {
              address {{ ip }}/{{ sub_mask }};
          }
      }
{% endfor %}
    }
}


protocols {
    bgp {
{% for ip in ips %}
        group bgpaas-{{ loop.index }} {
            type external;
            local-as {{ local_as }};
            peer-as 64512;
            family inet {
                unicast;
            }
            local-address {{ ip }};
            neighbor {{ neighbor1_list[loop.index-1] }};
            neighbor {{ neighbor2_list[loop.index-1] }};
        }
{% endfor %}
    }
}

security {
    policies {
        from-zone trust to-zone trust {
            policy default-pol {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
    }
    zones {
        security-zone trust {
            interfaces {
{% for ip in ips %}
                ge-0/0/0.{{ loop.index }} {
                    host-inbound-traffic {
                        system-services {
                            all;
                        }
                        protocols {
                            all;
                        }
                    }
                }
{% endfor %}
            }
        }
    }
}